<mat-toolbar style="background-color: blue;">
    <span><a [routerLink]="['/']">MyMessages</a></span>
    <span class="space"></span>
    <ul>
        <li>
            <a routerLinkActive="mat-accent"  mat-button [routerLink]="['/create']">New Post</a>
        </li>
        <li>
            <a routerLinkActive="mat-accent"  mat-button [routerLink]="['/login']">Login</a>
        </li>
        <li>
            <a routerLinkActive="mat-accent"  mat-button [routerLink]="['/signup']">SignUp</a>
        </li>
    </ul>
</mat-toolbar>